@media screen and (max-width: 600px) {

    html, body { 
    	height: 100%; 
    	margin: 0; 
    	padding: 0; 
    }

    #map { 
    	
    	padding: 16px;
    	width: 100%; 
    	height: 100%;
    	margin: 0;
    	position: absolute;
    }

    h2 { 
    	display: none;
    }

    hr {
    	display: none;
    }

    .options-box { 
    	display: none;
    }

    .container {
    	display: none;
    }
     
    #search-text { 
    	display: none;
    }
    
    #search-text:focus {  
    	display: none;
    }
    
    #list-items, a { 
    	display: none;	
    }
}
